@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel__slide
    width: 590px
  .hotel
    &-slider
      &__image
        height: 100%
        width: 100%
        object-fit: cover
    &-right
      margin-left: 30px
  .card
    width: 230px
    height: 250px
  .footer
    &__input
      flex-basis: 100%
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &__user
      margin-right: 4px
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
      margin-right: 73px
    &__menu-button
      display: none
    &-menu
      padding-top: 20px
      padding-bottom: 22px
      padding-left: 14px
      &__link
        font-size: 12px
        line-height: 15px
        margin-right: 12px
  .reviews
    &-slider
      &__item
        max-width: 580px
      &__profile
        margin-right: -6px
      &__text
        margin-top: 2px
      &__button
        &--prev
          left: 2px
          top: 158px
        &--next
          right: 1px
          top: 158px
    &__title
      margin-bottom: 45px
      margin-top: 30px
      font-size: 30px
  .user
    &__name
      margin-top: 4px
      margin-left: 15px
      margin-right: -3px
  .offer
    padding: 4px 10px
  .hotel-info
    &__name
      margin-top: 5px
    &__rating
      margin-top: 13px
  .hotel-wrapper
    margin-top: 8px
    margin-left: 1px
  .stars
    font-size: 9px
  .rating
    margin-right: -2px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 56px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
      margin: 0
    &-slider
      width: 100%
  .booking
    width: 340px
    &__button
      width: 104%
      margin-left: -4px
    &__price
      margin-left: -3px
    &__room
      margin-right: -8px
    &__call-center
      margin-right: -8px
      margin-left: -2px
  .map
    width: 340px
  .image
    &-star
      margin-right: 0px
      margin-bottom: -5px
  .newsletter
    padding: 72px 0 87px 0
  .activities
    padding: 30px 0 50px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .footer
    padding-top: 34px
    &-discription
      margin-top: -39px
      margin-left: -14px
      justify-content: space-between
    &__info
      margin-right: 73px
    &__button
      margin-left: -5px
      margin-top: -2px
    &__message
      margin-right: 71px
      margin-left: -4px
    &__item
      &--mb-2
        margin-bottom: 18px
        margin-left: 10px
        margin-top: -2px
    &__text
      margin-left: 5px
    &__title
      width: 246px
      &--mb-3
        &-3
          margin-left: 0
    &-wrapper
      grid-template-columns: repeat (6, 1fr )
      grid-row-gap: 40px
    &__input
      flex-basis: 42%
      &-1
        margin-left: -5px
        margin-top: 5px
      &-2
        margin-right: 71px
        margin-top: 5px
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
      margin-top: 39px
    &__social
      &-links
        margin-left: -92px
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        margin-left: -94px
        margin-top: 50px
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      margin-top: 11px
    &__legal
      grid-column: span 2
      margin-top: 10px
      margin-left: 18px
    &__additional
      grid-column: span 2
      margin-left: -79px
      margin-top: 9px
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
        margin-top: 19px
      &-form
        grid-column: span 5
        grid-row: 4
        font-size: 12px
        line-height: 15px
    .logo
      width: 96px

@media (max-width: 767px)
  .container
    max-width: 700px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &_visible
            display: block
    &__user
      flex-direction: column
      justify-content: center
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      margin-top: 5px
      margin-right: 3px
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
        &__name
          margin-top: 10px
          margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel-slider
    height: 350px
  .hotel
    &-right
      min-height: 210px
  .booking
    //max-width: 345px
    width: 50%
    max-height: 210px
    margin-right: 20px
  .map
    //max-width: 345px
    width: 50%
    max-height: 210px
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &__title
      margin-top: -13px
      font-size: 20px
    &-title
      &__strong
        font-size: 30px
  .reviews
    &__title
      font-size: 24px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
  .footer
    &__legal
      grid-row: 3
      margin-left: 0
    &__contact
      &-details
        grid-row: 4
    &__additional
      grid-row: 2 / 4
    &__contact
      &-form
        grid-row: 5
    &__button
      margin-left: -3px
    &__input,
    &__message
      flex-basis: 86%
    &__message
      margin-right: 77px
    &__input
      &-1
        margin-left: -4px
      &-2
        margin-left: -4px
    &-payments
      margin-left: 130px
@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    padding-bottom: 45px
    &-right
      flex-direction: column
      max-width: 527px
    &-discription
      line-height: 15px
    &-slide
      height: 250px
  .booking
    //min-width: 527px
    width: 100%
    margin-bottom: 15px
    margin-top: -15px
  .map
    //min-width: 527px
    width: 100%
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
    &-wrapper
      margin-left: 23px
  .subscribe
    width: 80%
    margin-top: -16px
  .activities
    &__card
      width: 96%
      &-1
        order: 1
      &-2
        order: 3
        margin-top: 8px
      &-3
        order: 2
      &-4
        order: 4
  .card
    width: 100%
    &__title
      &-1
        width: 145px
      &-2
        width: 153px
      &-3
        width: 161px
      &-4
        width: 200px
  .footer
    &-payments
      margin-left: 0
      margin-top: 0
    &-discription
      margin-top: -39px
      margin-left: 0
      flex-wrap: wrap
      justify-content: start
      flex-direction: column
    &-conditions
      margin-left: 0
      margin-bottom: 10px
    &__title
      &--inline
        margin: -42px 43px 0px 0
        margin-right: -166px
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1px
    &__social
      &-links
        margin-left: -79px
      &-network
        grid-row: 2
        grid-column: 1
        margin-left: 0
    &__additional
      grid-row: 3
      grid-column: 1
      margin-left: 0
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__input,
    &__message
      flex-basis: 77%
@media (max-width: 480px)
  .footer
    &__info
      order: 1
      margin-bottom: 15px
      margin-left: -4px
    &__button
      order: 2
      margin-top: 0px
      margin-right: 100px
@media (max-width: 320px)
  .container
    margin-left: 20px
    margin-right: 20px
  .hotel
    padding-top: 0
    padding-right: 0
    padding-bottom: 41px
    &-grid
      padding-top: 19px
    &-name
      margin-top: 9px
    &__slider
      margin-bottom: 20px
      height: 179px
      width: 278px
    &-info
      &__discription
        font-size: 12px
        line-height: 15px
        margin: -1px
        width: 280px
      &__offer
        margin-left: -1px
        margin-top: -6px
    &-slider
      &__button
        &--next
          right: 11px
          width: 4px
          height: 7px
        &--prev
          left: 7px
          width: 4px
          height: 7px
  .breadcrumb-list
    margin-left: -1px
  .navbar-top
    &__menu-button
      margin-right: 14px
  .stars
    padding-right: 33px
    padding-bottom: 9px
  .image
    &-star
      margin-right: -1px
      margin-bottom: -3px
  .booking
    width: 279px
    margin-bottom: 15px
    margin-top: 0px
    margin-left: 3px
    &__price
      margin-left: -8px
    &__room
      margin-right: -5px
    &__call-center
      margin-right: -1px
      margin-left: -7px
      margin-top: 12px
    &__button
      width: 235px
      margin-left: -8px
  .map
    width: 280px
    height: 173px
    margin-top: 5px
  .newsletter
    padding: 88px 0 82px 0
    max-height: 320px
    &-wrapper
      margin-left: 21px
      margin-top: -2px
  .subscribe
    width: 280px
    margin-top: -4px
    &__input
      padding-left: 18px
  .reviews
    &__title
      font-size: 18px
      max-width: 245px
      font-style: normal
      font-weight: bold
      line-height: 23px
      text-align: center
      text-transform: uppercase
      margin-left: 17px
      margin-top: 33px
      margin-bottom: 41px
    &-slider
      &__avatar
        margin-left: -12px
      &__button
        &--prev
          margin-left: -98px
        &--next
          margin-right: -81px
      &__username
        margin-left: -9px
        margin-bottom: 9px
      &__item
        padding: 0 30px 34px
        max-width: 281px
        margin-right: 13px
      &__date
        margin-left: -8px
      &__rating
        margin-left: -5px
      &__text
        text-align: left
        margin-left: 2px
      &__profile
        margin-bottom: 29px
  .activities
    padding-top: 3px
    padding-bottom: 40px
    &__title
      margin-bottom: 32px
      font-size: 18px
    &__card
      width: 96%
      &-1
        order: 1
      &-2
        order: 3
        margin-top: 8px
      &-3
        order: 2
      &-4
        order: 4
  .card
    &__title
      &-1
        width: 145px
      &-2
        width: 153px
      &-3
        width: 161px
      &-4
        width: 200px
    &__button
      font-weight: 400
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      margin-top: 34px
    &__title
      &--inline
        margin: -49px 43px 0px 0
    &__social
      &-links
        margin-left: -287px
        margin-top: -4px
    &__legal
      grid-row: 3
      grid-column: 1
      margin-top: -12px
    &__additional
      grid-row: 4
      grid-column: 1
      margin-top: -11px
    &__categories
      grid-row: 5
      grid-column: 1
      margin-top: -12px
    &__contact
      &-details
        margin-top: -1px
    &__item
      &--mb
        &-2
          margin-left: -4px
          margin-top: 20px
    &__icon
      &-1
        margin-left: 14px
      &-2
        margin-left: 11px
        margin-top: 7px
      &-3
        margin-left: 11px
    &__ul
      max-width: 280px
    &__text
      max-width: 280px
    &__input,
    &__message
      flex-basis: 77%
      margin-bottom: 30px
      width: 291px
      margin-top: -16px
    &__info
      margin-top: -14px
      margin-left: -4px
    &__button
      margin-top: 0px
      margin-right: 48px
    &-discription
      margin-top: -72px
    &-conditions
      margin-left: 0px
      font-style: normal
      font-weight: normal
      font-size: 12.5px
      line-height: 15px
      margin-bottom: 9px
      margin-top: -1px
